@model SanaTest.Models.Sana_Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details Sana-Product</title>
</head>
<body>
    <div>
        <h4>Sana Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.productNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.productNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.creationDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.creationDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.modificationDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.modificationDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.enable)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.enable)
            </dd>
            <dt>
                Categories
            </dt>

            <dd>                
                @{
                    string categoriesSeparated = "";
                    var categoriesList = Model.Sana_CategoryAndProduct.ToList();
                    for (int i = 0; i < categoriesList.Count; i++)
                    {
                        if (i < 1)
                        {
                            categoriesSeparated += categoriesList[i].Sana_ProductCategory.name;
                        }
                        else
                        {
                            categoriesSeparated += ", " + categoriesList[i].Sana_ProductCategory.name;
                        }
                    }                    
                }
                
                @categoriesSeparated                                
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idProduct }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
